.searchBar {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    justify-content: flex-end;
    width: 100%;

    .description {
        white-space: pre;
    }

    .input {
        @media (max-width: 767px) {  
            width: 100%;
        }
    
        float: right;
    }

    @media (max-width: 500px) {
        .image {
            display: none;
        }
        
        .content {
            margin: 0 !important;
        }
    }  
}
