.carouselSegment {
    padding: 0px!important;
}

.observationCarousel {

    @media (min-width: 992px) { 
        .carousel-slider {
            height: 525px;
        }
    }

    .carousel .thumbs-wrapper {
        margin: 0px!important;
    }
}